In [36]:
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import os
import pymongo
from pymongo.errors import DuplicateKeyError

In [16]:
df = pd.read_csv(r"EasyVisa.csv")
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [17]:
df.shape

(25480, 12)

In [18]:
for x in df.columns:
    print(x)

case_id
continent
education_of_employee
has_job_experience
requires_job_training
no_of_employees
yr_of_estab
region_of_employment
prevailing_wage
unit_of_wage
full_time_position
case_status

In [19]:
data = df.to_dict(orient="records")

In [20]:
len(data)

25480

In [33]:
print(data[0])

{'case_id': 'EZYV01', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 14513, 'yr_of_estab': 2007, 'region_of_employment': 'West', 'prevailing_wage': 592.2029, 'unit_of_wage': 'Hour', 'full_time_position': 'Y', 'case_status': 'Denied'}

In [21]:
load_dotenv()
username = os.getenv("MONGO_DB_USERNAME")
password = os.getenv("MONGO_DB_PASSWORD")
cluster = os.getenv("MONGO_CLUSTER_URL")

In [22]:
DB_NAME = "US_VISA_PREDICTION"
COLLECTION_NAME = "VISA_APPROVAL_DATA"
CONNECTION_URL = (
    f"mongodb+srv://{username}:{password}@{cluster}/?appName=Cluster0"
)

In [37]:
client = pymongo.MongoClient(CONNECTION_URL)
db = client[DB_NAME]
collection = db[COLLECTION_NAME]



collection.create_index("case_id", unique=True)


try:
    collection.insert_many(data, ordered=False)
except DuplicateKeyError:
    print("Duplicate records skipped")

In [38]:
rec = collection.find()
rec

In [39]:
#for i, j in enumerate(rec,start=1):
    #print(f"{i}: {j}")

In [40]:
df = pd.DataFrame(list(collection.find()))
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,697472e14ef76e5c80cd0edf,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,697472e14ef76e5c80cd0ee0,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,697472e14ef76e5c80cd0ee1,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,697472e14ef76e5c80cd0ee2,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,697472e14ef76e5c80cd0ee3,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [41]:
df=df.drop(columns=["_id"],axis=1)
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [42]:
df.shape

(25480, 12)

In [43]:
df.to_csv("visadata.csv",index=False)