In [14]:
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import os
import pymongo

In [5]:
df = pd.read_csv(r"EasyVisa.csv")
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [6]:
df.shape

(25480, 12)

In [8]:
for x in df.columns:
    print(x)

case_id
continent
education_of_employee
has_job_experience
requires_job_training
no_of_employees
yr_of_estab
region_of_employment
prevailing_wage
unit_of_wage
full_time_position
case_status

In [9]:
data = df.to_dict(orient="records")

In [11]:
len(data)

25480

In [15]:
load_dotenv()
username = os.getenv("MONGO_DB_USERNAME")
password = os.getenv("MONGO_DB_PASSWORD")
cluster = os.getenv("MONGO_CLUSTER_URL")

In [18]:
DB_NAME = "US_VISA_PREDICTION"
COLLECTION_NAME = "VISA_APPROVAL_DATA"
CONNECTION_URL = (
    f"mongodb+srv://{username}:{password}@{cluster}/?appName=Cluster0"
)

In [19]:
client = pymongo.MongoClient(CONNECTION_URL)
db = client[DB_NAME]
connection = db[COLLECTION_NAME]

record = connection.insert_many(data)

In [20]:
rec = connection.find()
rec

In [24]:
#for i, j in enumerate(rec,start=1):
    #print(f"{i}: {j}")

In [22]:
df = pd.DataFrame(list(connection.find()))
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,6973b11d2cdd0e74ec1b4339,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,6973b11d2cdd0e74ec1b433a,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,6973b11d2cdd0e74ec1b433b,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,6973b11d2cdd0e74ec1b433c,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,6973b11d2cdd0e74ec1b433d,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [23]:
df=df.drop(columns=["_id"],axis=1)
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified